<p id="notice"><%= notice %></p>
<div class="row">

  <% @movies.each do |movie| %>
   <div>
    <%= render partial: 'index', locals: { movie: movie } %>
   </div>
  <% end %>

</div>
<%= link_to 'New Movie', new_movie_path %>
