<div class="card ">
  <div class="wrapper" style=" background: url(<%= url_for movie.images.first %>) center/cover no-repeat;">
   <div class="data">
    <div class="content">
      <h1 class="title"><%= movie.title %> (<%= movie.release_date %>)</h1>
      <a href="/movies/<%= movie.id %>" class=" btn btn-primary btn-lg">See More</a>
    </div>
  </div>
</div>
</div>
