<% content_for :top_content do %>
    <div class="container" style="text-align:center; background-color: gray">
      <h1>Welcome to IMDB</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary'  %>
        <%= link_to 'Movies', movies_path, class: 'btn btn-primary' %>   
      </p>
    </div>
<% end %>
