// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating-widget * {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.rating-widget .clearfix {
  clear:both;
}

.rating-widget .text-center {text-align:center;}

.rating-widget a {
  color: tomato;
  text-decoration: none;
}

.rating-widget a:hover {
  color: #2196f3;
}

.rating-widget pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.rating-widget .header {
  padding:20px 0;
  position:relative;
  margin-bottom:10px;
  
}

.rating-widget .header:after {
  content:"";
  display:block;
  height:1px;
  background:#eee;
  position:absolute; 
  left:30%; right:30%;
}

.rating-widget .header h2 {
  font-size:3em;
  font-weight:300;
  margin-bottom:0.2em;
}

.rating-widget .header p {
  font-size:14px;
}



.rating-widget #a-footer {
  margin: 20px 0;
}

.rating-widget .new-react-version {
  padding: 20px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.rating-widget .new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}

.rating-widget .success-box {
  margin:50px 0;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
}

.rating-widget .success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.rating-widget .success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}

/* Rating Star Widgets Style */
.rating-widget .rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-widget .rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-widget .rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-widget .rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-widget .rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
